<header>
    <div class="header-left">
        <h1>Usuarios</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="header-right">
        <button class="btn btn-outline">
            <img class="icon icon-outline" src="../../../assets/svg/eye.svg"> 
            <span>
                Previsualizar
            </span>
        </button>
        <button class="btn btn-orange">
            <img class="icon icon-btn" src="../../../assets/svg/add.svg">
            <span>
                Agregar nuevo usuario
            </span>
        </button>
    </div>
</header>

<section id="content">
    <input type="text" class="input-search" placeholder="Búsqueda">
    <select name="" id="">
        <option value="8">8 por página</option>
    </select>
    <select name="" id="">
        <option value="1">Ordenar de A-Z</option>
    </select>
    <select name="" id="">
        <option value="1">Todos</option>
    </select>
    <img class="move-icon" src="../../../assets/svg/list.svg">
    <img class="move-icon" src="../../../assets/svg/square.svg">
    <table class="table">
        <tr>
            <th>
            </th>
            <th *ngFor="let col of columns">
                {{col}}
            </th>
            <th></th>
        </tr>
        <tr *ngFor="let user of users">
            <td>
                <img class="move-icon" src="../../../assets/svg/points.svg">
            </td>
            <td>
                <img *ngIf="user.picture" class="avatar" src="{{user.picture}}" />
            </td>
            <td>
                {{user.name}}
            </td>
            <td>
                {{user.fathersLastName}}
            </td>
            <td>
                {{user.mothersLastName}}
            </td>
            <td>
                {{user.email}}
            </td>
            <td>
                {{user.roleId}}
            </td>
            <td>
                {{user.active}}
            </td>
            <!-- <td *ngFor="let col of index">
                
                <span>{{user[col]}}</span>
                
            </td> -->
            <td>
                <a><img src="../../../assets/svg/square.svg" /></a>
                <a><img src="../../../assets/svg/trash.svg" /></a>
            </td>
        </tr>
    </table>
</section>