@font-face {
    font-family: circular;
    src: url(../../../assets/CircularStd-Book.otf) format("opentype");
}

*{
    font-family: 'circular';
    font-weight: lighter;
}

body {
    background: #f7f7f7;
    
}

/*------------------------------------*\
    HEADER STYLES
\*------------------------------------*/

header {
    background: #FFFFFF;
    height: 15%;
    color: #131B31;
    border: 1px solid #E9E9E9;
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
}

header h1 {
    color: #131B31;
    font-size: 20px;
    font-weight: 300;
}

header p {
    color: #969696;
    font-size: 14px;
    font-weight: 300;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    border: 1px solid #FA6A00;
    border-radius: 2px;
    padding: 1%;
    font-size: 14px;
    cursor: pointer;
    margin: 1%;
}

.btn-outline {
    background-color: transparent;
    color: #FA6A00;
    height: 48px;
    width: 167px;
}

.btn-outline:hover {
    background: #FA6A00;
    color: white;
}

.btn-orange {
    background-color: #FA6A00;
    color: white;
    height: 48px;
    width: 225px;
}

.btn-orange:hover {
    background: transparent;
    color: #FA6A00;
}

.icon {
    vertical-align: bottom;
    padding-right: 10px;
    
}

.icon-outline {
    fill:#FA6A00 !important;
}

.icon-btn {
    filter: invert(1);
}

/*------------------------------------*\
    CONTENT STYLES
\*------------------------------------*/

#content {
    border: 1px solid #E9E9E9;
}

.input-search { 
    background: #f9f9f9 url(../../../assets/svg/search.svg) no-repeat 6px 6px; 
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    outline:0; 
    padding-left: 30px;
    height: 48px;
    width: 387px; 
    margin: 20px;
}

.table {
    border: 1px solid #E9E9E9;
    background-color: #FFFFFF;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.table td, .table th {
    border-bottom: 1px solid #E9E9E9;
    padding: 6px 5px;
    font-size: 14px;
    max-height: 60px;
}

.table tr {
    height: 60px;
    color: #5F5F5F;
}

.table tr td {
    color: #5F5F5F;
}

.table tr th {
    border-bottom: 1px solid #E9E9E9;
    padding: 6px 5px;
    color: #494949;
}

.move-icon {
    width: 30px;
    filter: opacity(.2);
}

.avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
